* {
  /*
  font-family: Inter, sans-serif;
  */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primaruBlue1: #ffffff;
  --primaruBlue2: #ecf6f9;
  --primaruBlue3: #d8edf3;
  --primaruBlue4: #c5e4ec;
  --primaruBlue5: #b2dce6;
  --primaruBlue6: #9fd3e0;
  --primaruBlue7: #8bcada;
  --primaruBlue8: #78c1d3;
  --primaruBlue9: #65b8cd;
  --primaruBlue10: #52afc7;
  --primaruBlue11: #3ea7c1;
  --primaruBlue12: #3896ad;
  --primaruBlue13: #33889d; /*gold*/
  --primaruBlue14: #32859a;
  --primaruBlue15: #2c7587;
  --primaruBlue16: #256474;
  --primaruBlue17: #1f5360;
  --primaruBlue18: #19434d;
  --primaruBlue19: #13323a;
  --primaruBlue20: #0c2127;
  --primaruBlue21: #061113;
  --primaruBlue22: #000000;
  /**/
  --secundaryBlue1: #ffffff;
  --secundaryBlue2: #ecf6f9;
  --secundaryBlue3: #d8eef3;
  --secundaryBlue4: #c5e5ed;
  --secundaryBlue5: #b1dde7;
  --secundaryBlue6: #9ed4e0;
  --secundaryBlue7: #8ecddb; /*Gold*/
  --secundaryBlue8: #8bccda;
  --secundaryBlue9: #77c3d4;
  --secundaryBlue10: #64bbce;
  --secundaryBlue11: #51b2c8;
  --secundaryBlue12: #3da9c2;
  --secundaryBlue13: #3799ae;
  --secundaryBlue14: #31889b;
  --secundaryBlue15: #2b7788;
  --secundaryBlue16: #256674;
  --secundaryBlue17: #1f5561;
  --secundaryBlue18: #18444e;
  --secundaryBlue19: #12333a;
  --secundaryBlue20: #0c2227;
  --secundaryBlue21: #061113;
  --secundaryBlue22: #000000;
  /**/
  --terciaryBlue1: #ffffff;
  --terciaryBlue2: #e9f0fc;
  --terciaryBlue3: #d3e2f8;
  --terciaryBlue4: #bdd3f5;
  --terciaryBlue5: #a7c5f1;
  --terciaryBlue6: #91b6ee;
  --terciaryBlue7: #7ba7ea;
  --terciaryBlue8: #6599e7;
  --terciaryBlue9: #4f8ae3;
  --terciaryBlue10: #387be0;
  --terciaryBlue11: #226ddd;
  --terciaryBlue12: #1f62c7;
  --terciaryBlue13: #1c57b0;
  --terciaryBlue14: #184c9a;
  --terciaryBlue15: #154184;
  --terciaryBlue16: #11366e;
  --terciaryBlue17: #0e2c58;
  --terciaryBlue18: #0a2142;
  --terciaryBlue19: #091d3a; /*gold*/
  --terciaryBlue20: #07162c;
  --terciaryBlue21: #030b16;
  --terciaryBlue22: #000000;
  /*GREY*/
  --dark1: #ffffff;
  --dark1: #f2f2f2;
  --dark2: #e6e6e6;
  --dark3: #d9d9d9;
  --dark4: #cccccc;
  --dark5: #bfbfbf;
  --dark6: #b3b3b3;
  --dark7: #a6a6a6;
  --dark8: #999999;
  --dark9: #8c8c8c;
  --dark10: #808080;
  --dark11: #737373;
  --dark12: #666666;
  --dark13: #595959;
  --dark14: #4d4d4d;
  --dark15: #404040;
  --dark16: #333333;
  --dark17: #262626;
  --dark18: #1a1a1a;
  --dark19: #0d0d0d;
  --dark20: #000000;

  --bg: #f8f9fa;
  --complemetrar: #ad4601;

  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);
  --bg-2: #f8fafc;
}
.sticked {
  position: fixed;
  top: 0; /*OBS o topo ten de contar com o height do header-top*/
  z-index: 15;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  color: #29373d;
  background: url(../assets/images/bg-health2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.texto-aculto-para-mobile {
  display: none;
}
@media only screen and (min-width: 800px) {
  .texto-aculto-para-mobile {
    display: initial;
  }
}
header {
  position: relative;
  height: 118px;
  width: 100%;
  box-shadow: 0 10px 25px -5px var(--tw-shadow-color, #00283894);
}
.header-top {
  height: 36px;
  width: 100%;
  background-color: var(--primaruBlue13);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10%;
  box-sizing: border-box;
  object-fit: cover;
}
.header-top a i,
.header-top i {
  background-color: var(--primaruBlue12);
  margin-left: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  color: white;
}
.header-top a {
  text-decoration: none;
}
.header-bottom {
  height: 82px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  background-color: white;
  transition: all 0.5s;
}
.header-bottom.colored {
  background-color: rgba(5, 148, 167, 0.575);
  backdrop-filter: blur(18px);
}
.header-bottom.colored::backdrop {
  filter: blur(20px);
}
.header-bottom div {
  height: 45px;
}
.header-bottom div img {
  max-height: 100%;
}
.header-bottom div img.colored {
  filter: grayscale(100) brightness(0) invert(1);
}
@media only screen and (min-width: 800px) {
  header {
    height: 126px;
  }
  .header-bottom {
    height: 90px;
  }
  .header-bottom div {
    height: 60px;
  }
}
.header-bottom i svg {
  stroke: var(--secundaryBlue15);
}
.header-bottom i svg.colored {
  stroke: var(--secundaryBlue1);
}
.hidden-menu {
  display: none;
}
.header-bottom .nav {
  background-color: #44525510;
  backdrop-filter: blur(2px);
  position: fixed;
  height: 110vh;
  width: 100vw;
  z-index: 200;
  top: 0;
  left: 0;
  overflow: hidden;
}
.header-bottom .nav .icon-close-menu {
  background-color: var(--primaruBlue10);
  display: flex;
  width: 80vw;
  padding: 5px 20px;
  float: right;
  justify-content: end;
  box-sizing: border-box;
  transform: translateX(200px);
  transition: all 100ms;
}
.header-bottom .nav .icon-close-menu.visivel {
  transform: translateX(0);
}
.header-bottom .nav .icon-close-menu svg {
  stroke: var(--primaruBlue1);
}
.header-bottom .nav .nav-item-set {
  background-color: white;
  height: 100%;
  width: 80vw;
  float: right;
  display: flex;
  flex-direction: column;
  transform: translateX(200px);
  transition: all 100ms;
  box-sizing: border-box;
}
.header-bottom .nav #nav-item-set-id.visivel {
  transform: translateX(0);
}
.header-bottom .openMenu {
  display: block;
  font-size: 25px;
  color: var(--secundaryBlue7);
}

.header-bottom .nav .nav-item-set a {
  text-decoration: none;
  color: var(--primaruBlue14);
  font-weight: 400;
  padding: 10px;
  font-size: 13px;
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
/*OBS ATT REMOVER O CODIGO ABAIXO*/
.header-bottom .nav .nav-item-set a .iten-menu-icon {
  display: inline-flex;
  border: 1px solid var(--primaruBlue2);
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  display: none; /*OBS ATT Remova isto Importante*/
}
.header-bottom .nav .nav-item-set a .iten-menu-icon i {
  color: var(--primaruBlue4);
  font-size: 18px;
}
/*
.header-bottom:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  /*background: linear-gradient(
    90deg,
    #e3003a 0%,
    #643688 21%,
    #14387f 41%,
    #0070e5 64%,
    #76b82a 84%,
    #fcbe00 100%
  );*/
/* background: linear-gradient(
    90deg,
    #b07200 0%,
    #643688 21%,
    #14387f 41%,
    #0070e5 64%,
    #76b82a 84%,
    #76b82a 100%
  );
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  /
  box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.132);
  z-index: 20;
  background: linear-gradient(135deg, #00c4cc, var(--terciaryBlue10));

  mix-blend-mode: multiply;
}*/
/*HEADER Media Query*/
@media only screen and (min-width: 800px) {
  .header-bottom .nav {
    display: block;
    background-color: transparent;
    position: static;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    overflow: unset;
  }
  .header-bottom .nav .icon-close-menu {
    display: none;
  }
  .header-bottom i {
    display: none;
  }
  .header-bottom .nav .nav-item-set {
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    float: none;
    display: block;
    transform: translateX(0);
  }
  .header-bottom .nav .nav-item-set a {
    color: var(--color-slate-500);
    font-size: 12px;
    font-weight: unset;
    margin-top: 0;
  }
  .header-bottom .nav .nav-item-set a .iten-menu-icon {
    display: none;
  }
}
/*Banner*/
/*O background image*/
.section-banner {
  background: url(../assets/images/banner1.2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
/* para adicionar o elemento com blur */
.section-banner::before {
  content: "";
  height: calc(100vh - 110px);
  backdrop-filter: blur(5px); /*20px antes do vídeo*/
  /*background-color: #66666664;*/
  /*background-color: #06111391;
    background-color: rgba(0, 0, 0, 0.5);

  */
  background-color: #51b2c8ad;
  width: 100%;
  position: absolute;
  top: 1;
  z-index: 1;
}

/*ABAIXO adicionado pelo video.Inexistente antes do video*/
.section-banner video {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: calc(100vh - 125px);
}
.section-banner .section-banner-content {
  position: absolute;
  z-index: 3;
  color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  object-fit: cover;
  transition: all 1s;
  overflow: hidden;
  padding-bottom: 40px;
}
.section-banner .section-banner-content h3 {
  font-size: 2.5rem;
  margin: 0;
  color: white;
  box-sizing: border-box;
  object-fit: cover;

  transform: translateX(200px);
  opacity: 0;
  transition: all 1s;
}
.section-banner .section-banner-content h3.visible {
  transform: translateX(0);
  opacity: 1;
}
.section-banner .section-banner-content h3 span {
  color: var(--primaruBlue3);
  background: linear-gradient(
    45deg,
    var(--primaruBlue1) 20%,
    var(--primaruBlue3) 40%,
    var(--primaruBlue1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-banner .section-banner-content h5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
  box-sizing: border-box;
  object-fit: cover;
  transform: translateX(200px);
  opacity: 0;

  transition: all 1s;
  transition-delay: 0.4s;
}
.section-banner .section-banner-content h5.visible {
  transform: translateX(0);
  opacity: 1;
}
.section-banner .section-banner-content p {
  font-size: 1rem;
  font-weight: 300;

  transform: translateX(200px);
  opacity: 0;

  transition: all 1s;
  transition-delay: 0.6s;
}
.section-banner .section-banner-content p.visible {
  transform: translateX(0);
  opacity: 1;
}
.section-banner .section-banner-content button {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 5px 30px;
  border-radius: 12px;
  color: white;
  text-align: center;
  line-height: 1;
  /*background: linear-gradient(
    135deg,
    #78c1d382 0%,
    #78c1d382 70%,
    var(--primaruBlue7) 100%
  );*/
  /*box-shadow: 0 2px 8px #3067757e;
  background-color: var(--primaruBlue8);
  box-shadow: 0 10px 25px -5px var(--tw-shadow-color, #004d6bc9);
  */
  background-color: #004d6b67;
  box-shadow: 0 10px 25px -5px var(--tw-shadow-color, #00283894);
  transition: all 0.2s;
  color: var(--primaruBlue1);

  transform: translateY(200px);
  opacity: 0;

  transition: all 1s;
  transition-delay: 0.8s;
}
.section-banner .section-banner-content button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 12px #145e7163;
}
.section-banner .section-banner-content button.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-banner .section-banner-content button .banner-cta-span2 {
  background-color: #ffffff37;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-left: 3px;
  box-sizing: border-box;
  line-height: 0;
  font-size: 15px;
  transition: all 0.5s;
  animation: radarAnimation 1.3s ease-in-out infinite;
}
@keyframes radarAnimation {
  0% {
    box-shadow: 0 0 0 0px #52afc7;
  }
  70% {
    box-shadow: 0 0 0 10px #52b0c700;
  }
  100% {
    box-shadow: 0 0 0 0px #52b0c700;
  }
}
/*BANNER Media Query*/
@media only screen and (min-width: 800px) {
  .section-banner .section-banner-content h3 {
    font-size: 5rem;
  }
  .section-banner .section-banner-content h5 {
    font-size: 3rem;
  }
  .section-banner .section-banner-content p {
    font-size: 1.3rem;
  }
  .section-banner .section-banner-content button {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
/*Section Lugares*/
.section-lugares {
  background-color: white;
  box-sizing: border-box;
  object-fit: cover;
}
.section-lugares .mapa {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  box-sizing: border-box;
  object-fit: cover;
}
.section-lugares .mapa svg {
  transform: rotate(360deg);
  transition: all 3s;
  box-sizing: border-box;
  object-fit: cover;
}
/*O SVG tem de ter um tamanho menor em telemóveis*/
.section-lugares .mapa svg {
  height: 220px !important;
  width: 220px !important;
}
@media only screen and (min-width: 800px) {
  .section-lugares .mapa svg {
    height: 600px !important;
    width: 600px !important;
  }
}
/*FIM do Midea Query SVG*/

.section-lugares .mapa svg.visible {
  transform: rotate(0deg);
}

.section-lugares .header-lugares {
  text-align: center;
  padding: 50px 0px;
}
.section-lugares .header-lugares div button {
  background-color: var(--primaruBlue7);
  padding: 10px 20px;
  border: 3px solid var(--primaruBlue8);
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}
.section-lugares .header-lugares div button i {
  font-size: 20px;
  font-weight: 100;
}
/*LUGARES Media Query*/
@media only screen and (min-width: 800px) {
  .section-lugares .mapa {
    padding-bottom: 5%;
  }
}
/*section-servicos*/
.section-servicos {
  background-color: #fff;
  padding: 5%;
}
.section-titulo-set {
  text-align: center;
  margin-bottom: 50px;
}
.section-titulo-set .section-titulo {
  background: linear-gradient(
    45deg,
    var(--primaruBlue10),
    var(--primaruBlue10),
    var(--primaruBlue16)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: auto;
}
.section-titulo-set .section-descricao {
  color: var(--dark10);
}
.section-titulo-set .titulo-head {
  background-color: var(--primaruBlue2);
  color: var(--primaruBlue10);
  border-radius: 22px;
  margin: 0 15%;
  font-size: 1.6rem;
  width: fit-content;
  text-align: center;
  justify-self: center;
  padding: 0 40px;
  padding-bottom: 5px;
}
.section-servicos .section-servicos-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-servicos .section-servicos-set .section-servicos-iten {
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 280px;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}
.section-servicos
  .section-servicos-set
  .section-servicos-iten
  .servicos-iten-icon {
  height: 80px;
  width: 80px;
}
.section-servicos
  .section-servicos-set
  .section-servicos-iten
  .servicos-iten-icon
  img {
  max-width: 100%;
  max-height: 100%;
}
.section-servicos
  .section-servicos-set
  .section-servicos-iten
  .servicos-iten-nome {
  color: var(--primaruBlue10);
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
}
.section-servicos
  .section-servicos-set
  .section-servicos-iten
  .servicos-iten-btn {
  margin-top: 20px;
}
.section-servicos
  .section-servicos-set
  .section-servicos-iten
  .servicos-iten-btn
  a {
  background-color: var(--primaruBlue13);
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (min-width: 800px) {
  .section-servicos .section-servicos-set {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*section-cta CUSTOM*/
/*.section-cta {
  padding: 10%;
  background-color: var(--bg-2);
}
.section-cta .cta-set {
  background-color: var(--primaruBlue1);
  height: 400px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.section-cta .cta-set .cta-img {
  height: 100%;
}
.section-cta .cta-set .cta-img img {
  max-height: 100%;
}
.section-cta .cta-txt {
  background-color: var(--primaruBlue2);
  width: 100%;
  padding: 5%;
}*/
/*section-diferencial*/
.section-diferencial {
  background-color: var(--primaruBlue2);
  padding: 5%;
}
.section-header {
  text-align: center;
  padding-top: 2%;
}
.section-diferencial .header-direrencial {
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s;
}
.section-diferencial .header-direrencial.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-diferencial-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section-diferencial .header-direrencial-in {
  text-align: left;
  padding: 0 5%;
}
.section-diferencial .header-direrencial-in h1 {
  & span {
    color: var(--primaruBlue10);
  }
}
.section-diferencial .header-direrencial-in small {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  align-items: center;
  display: inline-flex;
  & span {
    height: 1px;
    width: 40px;
    border-radius: 2px;
    margin-right: 10px;
    background-color: var(--primaruBlue7);
  }
}
.section-diferencial .header-direrencial-in p {
  color: var(--color-slate-600);
}
.section-diferencial-content .each-diferencial {
  width: 100%;
  max-height: 170px;
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  background-color: var(--primaruBlue1);
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 6px 12px #32859a1c;

  /*Animação*/
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s;
  display: flex;
  flex-direction: column;
}
.section-diferencial-content .each-diferencial:hover {
  box-shadow: 0px 8px 10px #32859a1c;
}
.section-diferencial-content .each-diferencial.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-diferencial-content .each-diferencial img {
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.3;
}
.each-diferencial .diferencial-tittolo {
  background: linear-gradient(
    45deg,
    var(--secundaryBlue6),
    var(--secundaryBlue12)
  );
  position: absolute;
  padding: 5px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 300;
  margin: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.each-diferencial .diferencial-descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.each-diferencial .diferencial-descricao b {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: var(--color-slate-600);
}
.each-diferencial .diferencial-descricao small {
  margin-top: 15px;
  background-color: var(--bg);
  padding: 5px 20px;
  border-radius: 15px;
  /*border: 1px dashed var(--dark2);*/
  width: calc(100% - 40px);
  color: var(--color-slate-500);
  text-align: center;
}
.each-diferencial .diferencial-icon {
  background-color: var(--primaruBlue7);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaruBlue1);
  align-self: center;
  border: 4px solid var(--primaruBlue2);

  align-self: flex-end;
  transform: translateY(-40px);
}
.each-diferencial .diferencial-icon svg {
  stroke-width: 1.6px;
}

@media only screen and (min-width: 800px) {
  .section-diferencial .header-direrencial-in {
    text-align: left;
    padding: 0;
  }
  .section-diferencial-content .each-diferencial {
    max-width: 260px;
    max-height: 300px;
  }
}

/* Section Equipa*/
.section-equipa {
  height: 400px;
  background-color: #0f1825a8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-equipa h1 {
  margin-top: 0;
  color: whitesmoke;
  margin-block-end: 0.47em;
}
.section-equipa h2 {
  margin-top: 0;
  color: var(--primaruBlue2);
  font-weight: 500;
  margin-bottom: 0;
}
.section-equipa p {
  color: whitesmoke;
}
.section-equipa a {
  background-color: #ffffff0e;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;

  backdrop-filter: blur(8px);
  border-radius: 20px;
  color: var(--color-slate-300);
  font-weight: 400;
  border: 1px solid #ffffff2c;

  /*
  border: 1px solid #f8fafc17;
  border: 1px solid var(--primaruBlue13);
  
  */
}
/*Section Equipa Media Query*/
@media only screen and (min-width: 800px) {
  .section-equipa {
    height: 300px;
  }
}
/*SECÇAO DADOS EXPERIENCIAS*/
/*
.section-dados {
  background-color: whitesmoke;
  padding-bottom: 5%;
}
.section-dados-set {
  display: flex;
  box-sizing: border-box;
  object-fit: cover;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-dados-set div {
  background-color: white;
  margin: 5px;
  padding: 5px;
  width: 290px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.048);
}
.section-dados-set div p {
  color: var(--primaruBlue13);
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  .section-dados-set {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
*/
/*section-presentation*/
.section-presentation {
  padding: 5% 10%;
  background-color: var(--primaruBlue13);
}
.section-presentation .section-presentation-set {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-presentation .section-presentation-set .section-presentation-text {
  color: var(--primaruBlue2);
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.section-presentation .section-presentation-set .section-presentation-text h1 {
  color: var(--primaruBlue1);
}
.section-presentation
  .section-presentation-set
  .section-presentation-text
  .section-presentation-cards-set {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
.section-presentation
  .section-presentation-set
  .section-presentation-text
  .section-presentation-cards-set
  .section-presentation-each-cards {
  margin-bottom: 20px;
  padding: 10px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 13px;
}
.section-presentation
  .section-presentation-set
  .section-presentation-text
  .section-presentation-cards-set
  .section-presentation-each-cards
  span {
  margin-right: 10px;
  display: flex;
}
.section-presentation .section-presentation-set .section-presentation-banner {
  background-color: var(--primaruBlue17);
  height: 350px;
  width: 500px;
  border-radius: 7px;
  box-shadow: 0 25px 60px -15px var(--tw-shadow-color, #003849cc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-presentation
  .section-presentation-set
  .section-presentation-banner
  .presentation-btn-play {
  border: 1px solid var(--color-slate-400);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-left: 6px;
  box-sizing: border-box;
  color: var(--color-slate-200);
  cursor: pointer;
  animation: radarAnimation 2s ease-in-out infinite;
}
@media only screen and (min-width: 800px) {
  .section-presentation .section-presentation-set .section-presentation-text {
    max-width: 50%;
  }
  .section-presentation
    .section-presentation-set
    .section-presentation-text
    .section-presentation-cards-set {
    flex-direction: row;
  }
  .section-presentation .section-presentation-set .section-presentation-banner {
    height: 500px !important;
    width: 500px !important;
  }
}

/*section-enterprises*/
.section-enterprises {
  background-color: var(--primaruBlue13);
  height: 250px;
}
.header-section-enterprises {
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: all 1s;
}
.header-section-enterprises.visible {
  opacity: 1;
  transform: scale(1);
}

.section-enterprises-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: all 4s;
}

.section-enterprises-set.visible {
  opacity: 1;
}

.section-enterprises-set img {
  max-width: 60px;
  max-height: 60px;
  margin: 15px 0;
}
.section-enterprises-set svg {
  max-width: 70px;
  max-height: 70px;
  margin: 15px 0;
}
/*Enterprises Media Query*/
@media only screen and (min-width: 800px) {
  .section-enterprises-set {
    justify-content: center;
    flex-direction: row;
  }
  .section-enterprises-set img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 40px;
  }
  .section-enterprises-set svg {
    max-width: 100px;
    max-height: 100px;
    margin: 0 40px;
  }
}
/*section-benefits*/
.section-benefits {
  padding: 10% 0;
  background: linear-gradient(135deg, var(--bg-2), #ffffff, var(--bg-2));
}
.each-benefit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primaruBlue13);
  font-size: 1.3rem;
  font-weight: 300;
}
.each-benefit p:first-child {
  margin-top: 0;
}
/*section-news*/
.section-news {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 15%;
}
.section-news .news-set {
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow: hidden;
}
.section-news .news-set .news-item {
  background-color: var(--primaruBlue10);
  margin: 5px;
  border-radius: 10px;
  height: 300px;
  min-width: 290px;
  animation: mudarPost 10s cubic-bezier(0.075, 0.92, 0.165, 1) infinite;
}
@keyframes mudarPost {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-300px);
  }
  66% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(-900px);
  }
}
.section-news .news-set .news-item .news-item-head {
  height: 170px;
  width: 100%;
  overflow: hidden;
}
.section-news .news-set .news-item .news-item-head span {
  position: absolute;
  right: 0;
  top: 115px;
  border: 1px solid #f8fafc17;
  backdrop-filter: blur(6px);
  margin: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  line-height: 1;
  font-size: 13px;
  color: var(--color-slate-300);
  font-weight: 400;
}
.section-news .news-set .news-item .news-item-head img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.section-news .news-set .news-item .news-item-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: whitesmoke;
}
.section-news .news-set .news-item .news-item-body span:first-child {
  height: 60px;
  margin-bottom: 10px;
}
.section-news .news-set .news-item .news-item-body span button {
  background-color: var(--primaruBlue13);
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.section-news .news-targuet-set {
  display: flex;
}
.section-news .news-targuet-set .news-targuet {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: flex;
  margin: 10px;
  border: 1px solid var(--primaruBlue3);
  align-items: center;
  justify-content: center;
}
.section-news .news-targuet-set .news-targuet span {
  line-height: 0;
  background-color: var(--primaruBlue13);
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.section-news i {
  font-size: 80px;
  color: var(--secundaryBlue7);
}

/*MODAL SET*/

.modal-set {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c22270c;
  backdrop-filter: blur(10px);
  flex-direction: column;
}
.hidden-modal {
  display: none !important;
}
.modal-set span {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 4px;
  font-weight: 300;
  font-size: 13px;
  color: var(--bg-2);
}
.modal-set span svg {
  stroke: var(--color-slate-400);
  padding: 5px;
  padding-right: 0;
}
.video {
  width: 80%;
  background-color: var(--color-slate-200);
  transform: translateY(200px);
  scale: 0.9;
  transition: all 0.4s;
}
.video.visivel {
  scale: 1;
  transform: translateY(0);
}
.video video {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (min-width: 800px) {
  .modal-set span {
    width: 70%;
  }

  .video {
    width: 70%;
  }
}

/*FOOTER*/
footer {
  background-color: #fff;
  border-top: 1px solid var(--dark1);
}
.footer-top {
  /*background-color: var(--primaruBlue3);*/
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  border-radius: 10px;
}
.footer-top img {
  max-width: 200px;
  max-height: 50px;
  align-self: flex-start;
  margin-left: calc(((100vw - 293px) / 2) - 10px);
}

@media only screen and (min-width: 800px) {
  .footer-top img {
    margin-left: 0;
  }
}
.footer-top .footer-list-set {
  display: flex;
}
.footer-top ul {
  padding-left: 0px;
  margin: 1em 5px;
}
.footer-top ul li {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--primaruBlue12);
}
.footer-top ul li:first-child {
  color: var(--primaruBlue16);
}
.footer-top ul li a {
  color: var(--primaruBlue12);
}
.footer-helf {
  height: 1px;
  background-color: var(--dark1);
  margin: 0 10%;
}
.footer-bottom {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--complementar1);
  text-transform: uppercase;
  font-size: 13px;
}
.footer-bottom a {
  color: var(--primaruBlue12);
  font-weight: 800;
  margin-left: 5px;
}
.footer-bottom .footer-span-heart {
  color: #af7b2d;
  animation: Heart-Animation 2s ease-in-out infinite;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-CopyRight {
  font-size: 10px;
  color: var(--dark10);
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
@keyframes Heart-Animation {
  0% {
    font-size: 12px;
    color: #af7b2d;
    opacity: 1;
  }
  50% {
    font-size: 20px;
    color: red;
  }
  100% {
    font-size: 12px;
    color: #af7b2d;
    opacity: 0;
  }
}
/*Footer Media Query*/
@media only screen and (min-width: 800px) {
  .footer-top {
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  .footer-top ul {
    padding-left: 40px;
    display: block;
  }
  .footer-top ul li {
    font-size: 15px;
  }
  .footer-bottom {
    flex-direction: row;
    height: 70px;
  }
  .footer-top img {
    margin-top: 20px;
  }
}
